<!--<div data-controller="game--main">-->
<!--  <div class="w-full flex flex-col items-center" style="font-family: DungGeunMo">-->
<!--    <h1 class="font-bold text-6xl text-indigo-500">Your Awesome Site</h1>-->
<!--    <p>The app to solve your problems! Built with Ruby on Rails</p>-->
<!--  </div>-->
<!--</div>-->